[Desktop Entry]
Comment=Dark-grey theme.
Comment[en]=Dark-grey theme.
Name[en]=Holo

X-KDE-PluginInfo-Name=Holo
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true